@font-face{
  font-family:'Rubik';
  src:url('../../public/fonts/static/Rubik-Regular.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}

@font-face{
  font-family:'Rubik';
  src:url('../../public/fonts/static/Rubik-Medium.ttf') format('truetype');
  font-weight:500;
  font-style:normal;
}

@font-face{
  font-family:'Rubik';
  src:url('../../public/fonts/static/Rubik-Italic.ttf') format('truetype');
  font-weight:normal;
  font-style:italic;
}

:root{
  --purple: #A729F5;
  --light-purple:#F6E7FF;
  --light-orange:#FFF1E9;
  --light-green:#E0FDEF;
  --light-blue:#EBF0FF;
  --dark-navy:#313E51;
  --navy:#3B4D66;
  --grey-navy:#626C7F;
  --light-bluish:#ABC1E1;
  --light-grey:#F4F6FA;
  --pure-white:#FFFFFF;
  --green:#26D782;
  --red:#EE5454;
}

*{
  box-sizing:border-box;
  padding:0;
  margin:0;
  font-family:'Rubik';
}

body{
  background-color:var(--light-grey);
  background-image:url('../../public/images/pattern-background-mobile-light.svg');
  background-repeat:no-repeat;
}

header{
  padding:1rem 1.5rem;
  display:flex;
  align-items:center;
  justify-content:flex-end;
  gap:1rem;
}

header > img:first-of-type{
  background-color:var(--light-purple);
  padding:5.71px;
  border-radius:4px;
  visibility:hidden;
}

h1{
  font-size:1.125rem;
  color:var(--dark-navy);
  font-weight:500;
  margin-inline-end:auto;
  visibility:hidden;
}

.sunmoonIcons{
  width:1rem;
}

.themeIcon{
  position:relative;
}

.themeIcon::before{
  content:'';
  width:2rem;
  height:1.25rem;
  background-color: var(--purple);
  border-radius:999px;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.themeIcon::after{
  content:'';
  width:0.75rem;
  height:0.75rem;
  background-color:var(--pure-white);
  border-radius:50%;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-100%, -50%);
  transition:0.5s ease;
}

.moveRight::after{
  transform: translate(0%, -50%);
}

main{
  padding-block:2rem;
  padding-inline:1.5rem;
  display:flex;
  flex-direction:column;
  gap:2.5rem;
}

h2, strong{
  font-size:2.5rem;
  color:var(--dark-navy);
  font-weight:normal;
  line-height:100%;
}

strong{
  display:block;
  font-weight:500;
  margin-block-start:0.5rem;
}

p{
  font-size:0.875rem;
  color:var(--grey-navy);
  font-style:italic;
  line-height:150%;
}

.italic_text_home{
  margin-block-start:1rem;
}

article{
  display:flex;
  flex-direction:column;
  gap:0.75rem;
}

.subjects{
  padding:0.75rem;
  background-color:var(--pure-white);
  border-radius:12px;
  display:flex;
  gap:1rem;
  align-items:center;
  cursor:pointer;
  text-decoration:none;
  color:var(--dark-navy);
  font-size:1.125rem;
  font-weight:500;
  box-shadow: 0px 16px 40px 0px rgba(143,160,193,0.14);
  -webkit-box-shadow: 0px 16px 40px 0px rgba(143,160,193,0.14);
  -moz-box-shadow: 0px 16px 40px 0px rgba(143,160,193,0.14);
}

.subjects img{
  border-radius:6px;
  padding:0.35rem;
}

.subjects:nth-of-type(1) img{
  background-color:var(--light-orange);
}
.subjects:nth-of-type(2) img{
  background-color:var(--light-green);
}
.subjects:nth-of-type(3) img{
  background-color:var(--light-blue);
}
.subjects:nth-of-type(4) img{
  background-color:var(--light-purple);
}

h3{
  font-size:1.25rem;
  line-height:120%;
  font-weight:500;
  margin-block:0.75rem;
}

input[type="range"]{
  -webkit-appearance:none;
  appearance:none;
  width:100%;
  height:1rem;
  background: var(--pure-white);
  border-radius:999px;
  position:relative;
  margin-block-start:0.75rem;
}

input[type="range"]::after{
  content:'';
  width:90%;
  height: 0.5rem;
  background: var(--purple);
  border-radius: 104px;
  border:4px solid var(--pure-white);
  position:absolute;
}

input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance:none;
  appearance:none;
}
